* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #37D490;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: #f53f6a;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #172ce7;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #3dd4fa;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #37D490;
    padding-left: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #f59366;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #37D490;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }


h1{
  font-family: 'Lobster', cursive;
  font-size: 80px;
  color: rgb(255, 255, 255);
}

h2{
  font-family: 'Bree Serif', serif;
  font-size: 35px;
  color: black;
  text-align: center;
}

h3{
  font-family: 'Instrument Serif', serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

p{
  font-family: 'Kalam', cursive;
  font-size: 22px;
  color: #000000;
}


label[for=nombre] {
  font-family: 'Kalam', cursive;
  font-size: 22px;
  color: #000000;
}

label[for=email] {
  font-family: 'Kalam', cursive;
  font-size: 22px;
  color: #000000;
}

label[for=mensaje] {
  font-family: 'Kalam', cursive;
  font-size: 22px;
  color: #000000;
}

#cajaformulario{
  float: left;
  padding: 20px;
  border: 5px solid #7400F0;
}

#cajadatos{
  float: left;
  width: 400px;
  margin-left: 20px;
  padding: 20px;
  border: 5px solid #7400F0;
  font-family: 'Urbanist', sans-serif;
  font-size: 20px;
  color: black;
}

#clave, #texto{
  width: 200px;
}

#cajadatos > div{
  padding: 5px;
  border-bottom: 2px solid #000000;
}
    
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 3px solid #7400F0;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=email], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 3px solid #7400F0;
      border-radius: 4px;
      box-sizing: border-box;
  }

    input[type=submit] {
        width: 100%;
        background-color: #7400F0;
        color: rgb(255, 255, 255);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #72ee53;
    }

    div{
        border-radius: 5px;
        background-color: #ffffff;
        padding: 20px;
    }
    
