h1{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: black;
    text-align: center;
}

h2{
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    color: rgb(245, 70, 230);
    text-align: left;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #FA744C;
    text-align: left;
}