h1{
    font-family: 'Tilt Prism', cursive;
    font-size: 40px;
    color: black;
    text-align: center;
}

th{
    font-family: 'DynaPuff', cursive;
    font-size: 25px;
    color: black;
    text-align: center;
}

td{
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: black;
    text-align: center;
}